#! /bin/sh
### BEGIN INIT INFO
# Provides:          OpenEPG
# Required-Start:    $all
# Required-Stop:     $all
# Default-Start:     2 3 4 5
# Default-Stop:      6
# Short-Description: OpenEPG
# Description:
### END INIT INFO

PATH=/sbin:/usr/sbin:/bin:/usr/bin
. /lib/lsb/init-functions

do_start() {
    echo Started at `date +%F\ %T` >> /var/log/OpenEPG.log
    /opt/OpenEPG/OpenEPG.pl >> /var/log/OpenEPG.log &
}

do_stop() {
    killall OpenEPG.pl
}

case "$1" in
  start)
    do_start    
    ;;
  restart|reload|force-reload)
    do_stop
    sleep 1
    do_start
    ;;
  stop)
    do_stop
    ;;
  *)
    echo "Usage: $0 start|stop|restart|reload|force-reload" >&2
    exit 3
    ;;
esac
